*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#thumbnail-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 900px;
    margin: 20px auto;
  }

  .thumbnail-container img{
    height: 150px;
    width: 100px;
    cursor: pointer;
    border-radius: 8px;
  }

  #fullImageContainer{
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25;
  }

  .fullImageHide{
    display: none; 
  }  

  #fullPicture{
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }


  @media (max-width: 768px) {
    .thumbnail-container {
      grid-template-columns: 1fr;
    }
  }